<%- include("includes/head") %>
    <form method="POST" action="/students/add">
        <div class="form-group">
            <label>Address</label>
            <input name="address" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label> Name</label>
            <input name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input name="phone" type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-warning">Back</a>
    </form>
<%- include("includes/tail") %>