<%- include("includes/head") %> 
<img src="/System-users.svg" alt="users">
<h1>Hello</h1>
<a href="/students/add" class="btn btn-primary">Add Student</a>
<a href="/students/view" class="btn btn-warning">View Student</a>
<%- include("includes/tail") %> 
